<% provide(:title, 'Profile') %>
<div class="row">
  <div class="span6 offset3">
    <%@profile=@user.profile %>
    <%if @profile%>
	<p> <%= @user.email %> <p>
    <p> <%= @profile.name %> <p>
	<p> <%= @profile.address %> <p>
	<p> <%= @profile.city %>  <%= @profile.state%> <%= @profile.zip %> <p>
    <%end%>		
  </div>
</div>